@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

@layer components {
  /* Button Styles */
  .btn {
    @apply rounded-full px-4 py-3 font-semibold shadow-md transition-colors duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-primary {
    @apply btn bg-indigo-600 text-white hover:bg-indigo-700 focus:ring-indigo-500 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-indigo-600 dark:bg-indigo-950 dark:hover:bg-indigo-900 disabled:dark:hover:bg-indigo-950;
  }

  .btn-default {
    @apply btn border border-black/20 bg-gray-50 text-gray-800 hover:bg-gray-100 focus:ring-gray-500 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-gray-50 dark:border-white/10 dark:bg-black dark:text-gray-200 dark:hover:bg-[rgb(10,10,10)] disabled:dark:hover:bg-black;
  }

  /* Basic Surface and Text Colors (Optional - use if you find them helpful) */
  .bg-surface-default {
    @apply border border-black/10 bg-white/80 shadow-md dark:border-white/10 dark:bg-neutral-900/30;
  }

  .bg-surface-accent {
    @apply bg-indigo-600 dark:bg-indigo-500;
  }

  .text-color-default {
    @apply text-gray-800 dark:text-gray-100;
  }

  .text-color-muted {
    @apply text-gray-500 dark:text-gray-400;
  }

  .radial-gradient {
    background: radial-gradient(
        circle at 50% 0%,
        rgba(var(--radial-gradient-background), 0.05) 0%,
        transparent 60%
      )
      rgba(var(--solid-color-background), 1);
  }
  .radial-gradient:hover {
    background: color-mix(in srgb, black 2%, rgb(var(--solid-color-background)));
  }

  .linear-mask {
    mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
    );
  }

  .linear-overlay {
    background-image: linear-gradient(
      -75deg,
      rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
      rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
      rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
    );
    mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);
    -webkit-mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
  }

  /* Overlay color modifiers */
  .shiny-btn-primary {
    --overlay-color: 129, 120, 229;
    --solid-color-background: 242, 245, 255;
  }
  @media (prefers-color-scheme: dark) {
    .shiny-btn-primary {
      --solid-color-background: 2, 1, 23;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --radial-gradient-background: 150, 150, 150;
  --solid-color-background: 255, 255, 255;
  --overlay-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --radial-gradient-background: 250, 250, 250;
    --solid-color-background: 15, 15, 15;
    --overlay-color: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(209, 214, 215)) rgb(250, 250, 250);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(27, 26, 25);
  }

  .radial-gradient:hover {
    background: color-mix(in srgb, white 5%, rgb(var(--solid-color-background)));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
