@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded-md bg-indigo-600 px-4 py-2 font-semibold text-white shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:bg-indigo-300 dark:bg-indigo-500 dark:hover:bg-indigo-400 dark:focus:ring-offset-zinc-800 dark:disabled:bg-indigo-800 dark:disabled:text-indigo-400;
  }

  .btn-default {
    @apply rounded-md bg-gray-200 px-4 py-2 font-semibold text-gray-700 shadow-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-gray-400 dark:bg-zinc-700 dark:text-gray-200 dark:hover:bg-zinc-600 dark:focus:ring-gray-500 dark:focus:ring-offset-zinc-800 dark:disabled:bg-zinc-700 dark:disabled:text-zinc-500;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(209, 214, 215)) rgb(250, 250, 250);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(27, 26, 25);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
